body {
  background-color: rgb(191, 198, 202);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  width: 1280px;
  height: 720px;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 75px;
  box-shadow: 5px 5px 18px #a69751, -5px -5px 18px #68f8ff;
}

.encabezado {
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1620799139834-6b8f844fbe61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1072&q=80);
  background-size: 1280px;
  background-position-y: -50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 26%;
  margin: 0;
}

.header {
  width: 100%;
  height: 8%;
  background-color: #d0baa0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header ul {
  margin: 0;
}

.header li {
  display: inline;
  margin: 0%;
  padding-left: 35px;
  padding-right: 35px;
  color: rgb(245, 245, 245);
  font-family: "Rubik", sans-serif;
  font-size: 1.1em;
  text-shadow: black 1px 0 10px;
}

.header li:hover {
  color: rgba(245, 245, 245, 0.8);
  cursor: pointer;
}

.contenido {
  width: 100%;
  height: 66%;
  margin: 0%;
  background-size: 1280px;
  background-image: url(https://images.unsplash.com/photo-1586076100131-32505c71d0d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.hombre {
  position: relative;
  float: left;
  width: 50%;
  margin: 0%;
  height: 100%;
  text-align: center;
}

.mujer {
  position: relative;
  float: right;
  width: 50%;
  margin: 0%;
  height: 100%;
  text-align: center;
}

.hombre .circulo {
  background-color: #6fb5e98f;
  width: 333px;
  height: 333px;
  border-radius: 360px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.mujer .circulo {
  background-color: #efd2688f;
  width: 333px;
  height: 333px;
  border-radius: 360px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.img-hombre {
  position: absolute;
  top: 10%;
  left: 29%;
}

.img-mujer {
  position: relative;
}

.hombre .rectangulo {
  background-color: #5585a9;
  width: 256px;
  height: 48px;
  border-radius: 30px;
  top: 70%;
  left: 60%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hombre .rectangulo:hover {
  background-color: #5585a9d7;
  cursor: pointer;
}

.contenido p {
  color: rgb(245, 245, 245);
  font-size: 2em;
  font-family: "Secular One", sans-serif;
  text-shadow: black 1px 0 10px;
}

.mujer .rectangulo {
  background-color: #a79143;
  width: 256px;
  height: 48px;
  border-radius: 30px;
  top: 40%;
  right: 65%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mujer .rectangulo:hover {
  background-color: #a79143bd;
  cursor: pointer;
}
